<div class="container">


  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="customer.name" name="name" required>
    </div>


    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="customer.email" name="email" required>
    </div>

    <div class="mb-3">
      <label for="mobileNumber" class="form-label">Mobile Number:</label>
      <input type="text" class="form-control" id="mobileNumber" [(ngModel)]="customer.mobileNumber" name="mobileNumber" required>
    </div>

    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="customer.pwd" name="pwd" required>
    </div>

    <div class="mb-3">
      <label for="role" class="form-label">Role:</label>
      <input type="text" class="form-control" id="role" [(ngModel)]="customer.role" name="role" required>
    </div>

    <button (click)="registerUser()" type="submit" class="btn btn-primary">Register</button>
  </form>
</div>

