
<h1>
  Hello My Bank
</h1>

<div class="container">



<nav>

  <button routerLink="/" routerLinkActive="active home" [routerLinkActiveOptions]="{exact: true}">home</button>
  <button routerLink="/cards" routerLinkActive="active cards">cards</button>
  <button routerLink="/loans" routerLinkActive="active loans">loans</button>
  <button routerLink="/balance" routerLinkActive="active balance">balance</button>
  <button routerLink="/help" routerLinkActive="active help">help</button>
  <button routerLink="/register" routerLinkActive="active register">register</button>



</nav>
  <br>

  <hr>
  <!--после данного элемента будет отображаться компонент который выбирает роутер в соответствии с маршрутом заданным в Router-->

  <router-outlet></router-outlet>
</div>
