
.container {
  margin-top: 20px;
}

h1 {
  text-align: right;
}

.navbar-nav .nav-link.active {
  background-color: lightblue;
}

.logo {
  display: inline-block;
  margin-right: 20px;
}

.logo img {
  height: 150px;
  width: 200px;
}
