<div class="container">
  <h1>Registration</h1>
  <form (ngSubmit)="registerCustomer()" #registerForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="customer.name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="customer.email" required>
    </div>
    <div class="form-group">
      <label for="mobileNumber">Mobile Number:</label>
      <input type="tel" class="form-control" id="mobileNumber" name="mobileNumber" [(ngModel)]="customer.mobileNumber" required>
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="customer.pwd" required>
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <input type="text" class="form-control" id="role" name="role" [(ngModel)]="customer.role" required>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>

    <div class="form-group">
      <label for="customer_id">Customer ID</label>
      <input type="text" class="form-control" id="customer_id" name="customer_id" [(ngModel)]="customer.customer_id" required>

      <button type="button" class="btn btn-primary" (click)="searchCustomerById()">Search Customer</button>

    </div>
  </form>




</div>
